@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Firefox */
* {
  scrollbar-width: thin;
  /* scrollbar-color: var(--secondary) var(--primary); */
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

*::-webkit-scrollbar-track {
  /*background: rgb(196, 196, 196);*/
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  /* background-color: var(--secondary); */
  border-radius: 14px;
  background-color: rgb(65, 64, 64);
}

.course-table {
  border-collapse: collapse; 
}

.course-table td {
  border-top: 1px solid darkred;
  border-bottom: 1px solid darkred;
  padding: 8px;
  text-align: center;
}